@import "_bootstrap";

$main-font: "proxima-nova";
$main-font-wt: 300;
$main-font-sz: 18px;
$primary-color: #333;

body {

  font: {
    family: $main-font;
    weight: $main-font-wt;
    size: $main-font-sz;
    color: $primary-color;
  }
}

.section {
  padding-top: 80px;
}

.navbar-brand {
  font-weight: 500;
}